In [29]:
import pandas as pd

workout_data = pd.read_csv("workout_data.csv")
exercises = pd.read_csv("exercises.csv")

In [30]:
print("Workout Data:")
workout_data.head()

Workout Data:

         date  id_exercice  nb_series  nb_repetition  weight  nb_bars
0  12-02-2024            0          1             10       0        0
1  12-02-2024            1          2             10       0        0
2  12-02-2024            2          2              5       0        0
3  12-02-2024            3          1             10       0        0
4  12-02-2024            4          2              5       0        0

In [31]:
print("\nExercises Data:")
exercises.head()

Exercises Data:

   id_exercice                       name_exercice
0            0                               90/90
1            1                         Split squat
2            2                        Cossak squat
3            3  Deep squat into harmstring stretch
4            4                      Thoracic twist

In [32]:
workout_data = workout_data.merge(exercises, on="id_exercice", how="left")

In [33]:
print("\nMerged Workout Data:")
workout_data.head()

Merged Workout Data:

,date,id_exercice,nb_series,nb_repetition,weight,nb_bars,name_exercice
0,12-02-2024,0,1,10,0,0,90/90
1,12-02-2024,1,2,10,0,0,Split squat
2,12-02-2024,2,2,5,0,0,Cossak squat
3,12-02-2024,3,1,10,0,0,Deep squat into harmstring stretch
4,12-02-2024,4,2,5,0,0,Thoracic twist

# Répétition

In [34]:
exercise_summary = workout_data.groupby("name_exercice").agg({
    "nb_series": "sum",
    "nb_repetition": "sum"
}).reset_index()

print("\nTotal Series and Repetitions per Exercise:")
print(exercise_summary)

Total Series and Repetitions per Exercise:
                         name_exercice  nb_series  nb_repetition
0                                90/90         81            810
1                         Barbell curl         99            330
2               Barbell overhead press         91            325
3                          Bench press        124            370
4                       Bent over row          63            210
5                       Bicycle crunch        123           1925
6                          Calf raises         44            550
7                              Cat cow         81            405
8            Child pose into seal pose         81            405
9                         Cossak squat        162            405
10  Deep squat into harmstring stretch         81            892
11                                Dips         39            195
12                Dumbbell hammer curl          9             30
13              Dumbbell incline chest         72            240
14                   Dumbbell pullover         63            210
15             Dumbbell row unilateral         42            315
16                   Dumbbell shoulder         72            240
17               Dumbbell side lateral         74            435
18              Dumbbell skull crusher         27             90
19                      Elastique curl         36            180
20                           Face pull         27            135
21                           Kickbacks         42            625
22                          Leg raises         60            450
23                         Pompe chest         84            355
24                   Pull over barbell         36            122
25                  Romanian dead lift         67            220
26                      Rowing Barbell         48            120
27                       Russian twist         87           1350
28                     Seated leg curl         66            220
29                         Split squat        182           1290
30                               Squat         42            355
31                    Standing Barbell         42            210
32          Standing overhead dumbbell         18             60
33                      Thoracic twist        162            405
34                    Tirage elastique         36            180
35                               V-sit         87           1350

In [35]:
exercise_summary = workout_data.groupby("name_exercice").agg({
    "nb_series": "mean",
    "nb_repetition": "mean"
}).reset_index()

print("\n Mean Series and Repetitions per Exercise:")
print(exercise_summary)

 Mean Series and Repetitions per Exercise:
                         name_exercice  nb_series  nb_repetition
0                                90/90   1.000000      10.000000
1                         Barbell curl   3.000000      10.000000
2               Barbell overhead press   3.500000      12.500000
3                          Bench press   3.351351      10.000000
4                       Bent over row    3.000000      10.000000
5                       Bicycle crunch   1.518519      23.765432
6                          Calf raises   2.000000      25.000000
7                              Cat cow   1.000000       5.000000
8            Child pose into seal pose   1.000000       5.000000
9                         Cossak squat   2.000000       5.000000
10  Deep squat into harmstring stretch   1.000000      11.012346
11                                Dips   3.000000      15.000000
12                Dumbbell hammer curl   3.000000      10.000000
13              Dumbbell incline chest   3.000000      10.000000
14                   Dumbbell pullover   3.000000      10.000000
15             Dumbbell row unilateral   2.000000      15.000000
16                   Dumbbell shoulder   3.000000      10.000000
17               Dumbbell side lateral   2.000000      11.756757
18              Dumbbell skull crusher   3.000000      10.000000
19                      Elastique curl   3.000000      15.000000
20                           Face pull   3.000000      15.000000
21                           Kickbacks   1.000000      14.880952
22                          Leg raises   2.000000      15.000000
23                         Pompe chest   3.000000      12.678571
24                   Pull over barbell   3.000000      10.166667
25                  Romanian dead lift   3.045455      10.000000
26                      Rowing Barbell   4.000000      10.000000
27                       Russian twist   1.933333      30.000000
28                     Seated leg curl   3.000000      10.000000
29                         Split squat   2.000000      14.175824
30                               Squat   2.625000      22.187500
31                    Standing Barbell   2.000000      10.000000
32          Standing overhead dumbbell   3.000000      10.000000
33                      Thoracic twist   2.000000       5.000000
34                    Tirage elastique   3.000000      15.000000
35                               V-sit   1.933333      30.000000